<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <welcome-file-list>
  	<!-- 자료실 시작 페이지 용 -->
  	<welcome-file>index.jsp</welcome-file>
  	
  	<!-- 회원제 게시판 시작 페이지용 -->
    <welcome-file>/session06/LoginBasedToken.jsp</welcome-file>
    <welcome-file>HelloWorld.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Hello-Servlet</servlet-name>
    <servlet-class>controller.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello-Servlet</servlet-name>
    <url-pattern>/HelloServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calculator-Servlet</servlet-name>
    <servlet-class>controller.CalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator-Servlet</servlet-name>
    <url-pattern>/Calculator.kosmo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Content-Type</servlet-name>
    <servlet-class>controller.ContentTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Content-Type</servlet-name>
    <url-pattern>/Anidir/Somedir/SetContentType.kosmo</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>ORACLE-DRIVER</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>ORACLE-URL</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>COOKIE-NAME</param-name>
    <param-value>User-Token</param-value>
  </context-param>
  <context-param>
    <param-name>JNDI-ROOT</param-name>
    <param-value>java:comp/env</param-value>
  </context-param>
  <servlet>
    <servlet-name>SERVLET-PARAMETER</servlet-name>
    <jsp-file>/builtinobject03/ApplicationForMajorMethod_1.jsp</jsp-file>
    <init-param>
      <param-name>SERVLET-INIT-PARAMETER</param-name>
      <param-value>서블릿 초기화 파라미터입니다</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SERVLET-PARAMETER</servlet-name>
    <url-pattern>/builtinobject03/ApplicationForMajorMethod_1.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PAGING-PARAMETER</servlet-name>
    <jsp-file>/bbs08/List.jsp</jsp-file>
    <init-param>
      <param-name>PAGE-SIZE</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <param-name>BLOCK-PAGE</param-name>
      <param-value>10</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PAGING-PARAMETER</servlet-name>
    <url-pattern>/bbs08/List.jsp</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tlds/mytaglib.tld</taglib-uri>
      <taglib-location>	
			/WEB-INF/tlds/mytaglib.tld 
		</taglib-location>
    </taglib>
  </jsp-config>
  <session-config>
    <session-timeout>1440</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>FileUploadController</servlet-name>
    <servlet-class>controller.fileupload.FileUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadController</servlet-name>
    <url-pattern>/fileupload/Upload.kosmo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SERVLET-BASIC-GET</servlet-name>
    <servlet-class>controller.basic.GetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SERVLET-BASIC-GET</servlet-name>
    <url-pattern>/Basic/get.kosmo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostController</servlet-name>
    <servlet-class>controller.basic.PostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostController</servlet-name>
    <url-pattern>/Basic/post.kosmo</url-pattern>
  </servlet-mapping>
  <!-- 설정을 통한 예외처리 -->
  <!-- 방법1]에러코드로 -->
  <error-page>
  	<error-code>500</error-code>
  	<location>/error15/ErrorCode.jsp</location><!-- 모든 JSPProj에서 500에러시 여기로 포워드됨 -->
  </error-page>
  <!-- 방법2]예외 클래스로 -->
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/error15/ErrorType.jsp</location>
  </error-page>
  
  

</web-app>